#usersReviewsContainer{
    display: flex;
    flex-direction: column-reverse;
}

.reviewContainer{
    display: flex;
    background-color: #A7D8FF33;
    height: 100px;
    margin: 0px 20px 15px 20px;
    border-radius: 10px;
    background-clip:  padding-box;
    border: 10px solid #A7D8FF33;
}

.reviewContainer > div{
    padding: 10px;
}

.usersReviewDetails{
    flex: 20%;
    border-right: 5px solid white;
}

.commentDiv{
    flex: 60%;
}

.usersPrintImage{
    flex: 20%;
}


@media only screen and (max-width: 800px) {

    #addReviewContainer{
        flex-wrap: wrap;
    }

    #commentTextArea{
        margin-bottom: 10px;
    }

}